.form-container {
  display: flex;
  justify-content: center;
  margin: 5%;
  border: 1px solid;
}

.guest-entry {
  height: 150px;
  width: 285px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 5px;
  margin: 5px;
  font-family: monospace;
  font-size: 0.8rem;
  border-radius: 75%;
  width: 60px;
  height: 60px;
}
