form {
  align-content: center;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.guest-entry {
  height: 150px;
  width: 285px;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100px;
}
