form {
  align-content: center;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.guest-entry {
  height: 50px;
  width: 400px;
}

.button {
}

.button-container {
  display: flex;
  flex-direction: column;
  max-width: 5vw;
}
